.page .table th,
.page .table td {
    text-align: center;
    color: #6c757d;
}

.form-check-input {
    margin-top: 0;
}

.btn {
    height: unset;
}

.cursor-pointer {
    cursor: pointer;
}

.main-content {
    position: relative;
}

.admin-account-box {
    font-size: 1.25rem !important;
}

@media (max-width: 768px) {

    .admin-account-box {
        font-size: 16px !important;
    }

}

